* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.app{
    background-color: #fafafa;
    align-items: center;

}

.app__header{
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 1;
}
.app__header img {
    height: 35px;
}

.app__signup{
    display: flex;
    flex-direction: column;
}
.app__headerImage{
    object-fit: contain;
}
.app__posts{
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;

}

p{
    padding-left: 10px;
}